<!DOCTYPE html>

{% load static %}
<html>
  <head>
    <title>☁️ Main page </title>
    <!--<script src="wordcloud.js" defer></script>-->
    <link rel="stylesheet" href="{% static 'word_clouds/wordcloud.css' %}"/>
  </head>
  
  <body>
    <div id="splitscreen">
      <div class="top">
        <div class="cloudContainer" id="cloudContainer0">
          <div class="cloudOutline" id="container0">
            <span id="background">
              <ul
                class="cloud"
                role="navigation"
                aria-label="Webdev word cloud"
              >
                <li><a href="#" data-weight="8">{{word11}}</a></li> <!-- here we'll add in the context in double fancy brackets -->
                <li><a href="#" data-weight="2">{{word12}}</a></li>
                <li><a href="#" data-weight="5">{{word13}}</a></li>
                <li><a href="#" data-weight="6">{{word14}}</a></li>
              </ul>
            </span>
          </div>
        </div>
        <div class="cloudContainer" id="cloudContainer1">
          <div class="cloudOutline" id="container1">
            <span>
              <ul
                class="cloud"
                role="navigation"
                aria-label="Webdev word cloud"
              >
                <li><a href="#" data-weight="7">zi</a></li>
                <li><a href="#" data-weight="4">întrebare</a></li>
                <li><a href="#" data-weight="5">foarte</a></li>
                <li><a href="#" data-weight="3">grup</a></li>
              </ul>
            </span>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="cloudContainer" id="cloudContainer2">
          <div class="cloudOutline" id="container2">
            <span>
              <ul
                class="cloud"
                role="navigation"
                aria-label="Webdev word cloud"
              >
                <li><a href="#" data-weight="4">groep</a></li>
                <li><a href="#" data-weight="7">dag</a></li>
                <li><a href="#" data-weight="3">heel</a></li>
                <li><a href="#" data-weight="5">kwestie</a></li>
              </ul>
            </span>
          </div>
        </div>
        <div class="cloudContainer" id="cloudContainer3">
          <div class="cloudOutline" id="container3">
            <span>
              <ul
                class="cloud"
                role="navigation"
                aria-label="Webdev word cloud"
              >
                <li><a href="#" data-weight="7">qüestió</a></li>
                <li><a href="#" data-weight="8">molt</a></li>
                <li><a href="#" data-weight="5">dia</a></li>
                <li><a href="#" data-weight="3">grup</a></li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
