<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <title>Word cloud guesser</title>
    <link rel="icon" href="{% static 'word_clouds/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href='/static/word_clouds/index.css?{% now "U" %}' />
  </head>
  <body>
    <section class="sticky">
      <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
      </div>
    </section>
    <div class="external">
      <div class="middle">
        <div class="internal">
          <p>A Sky of Word Clouds
            <span class="subtitle">Find the (words of the) impostor language!</span>
          </p>
          <!--<button onClick = "window.location='clouds'" type ="button" class = "button"> Press to play ☁️</button> -->
          <form class="toggle" action="clouds" method="get">
            <input
              class="radio1"
              type="radio"
              id="mode1"
              name="preferred_mode"
              value="mode1"
            />
            <label class="fontfont" for="mode1">Odd word out</label><br />

            <input
              class="radio1"
              type="radio"
              id="mode2"
              name="preferred_mode"
              value="mode2"
            />
            <label class="fontfont" for="mode2">Odd cloud out</label
            ><br /><br />

            <input
              class="radio2"
              type="radio"
              id="easy"
              name="difficulty"
              value="easy"
            />
            <label class="fontfont" for="easy">
              mere mortal
              <span
                title="For casual players: Colour-coding according to language or word."
                >ℹ️</span
              >
            </label>

            <br />

            <input
              class="radio2"
              type="radio"
              id="hard"
              name="difficulty"
              value="hard"
            />
            <label class="fontfont" for="hard">
              linguist
              <span
                title="For language nerds: Words randomly shuffled, no colour-coding."
                >ℹ️</span
              >
            </label>

            <br /><br /><br /><br />

            <button type="submit" class="button" value="clouds">
              Press to play ☁️
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
