.external {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 80%; /* the position (horizontally) of the entire div*/
    width: 100%; /* the position (vertically) of the entire div*/
  }
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  .internal {
    margin-left: auto;
    margin-right: auto;
    width: 500px;}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, Helvetica, sans-serif;
    font-size: 3em;
    width: 100%;
    text-align: center;
    color: black;}

.button {
    background-color: white;
    color: black;
    border: 2px solid #010201;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: -50px 0 0 150px; /* position of the button horizontally*/ 
    left: 50%;
    top: 50%; 
    }

.button:hover {
    background-color: black;
    color: white;
    }


  /* bubbles animation */
  body,html{
    width:100%;
    height: 100%;
  }
  body{
    margin:0;
    padding:0;
    background: rgb(207, 236, 255);
  }

   /*position of the bubbles on the entire page */
  .bubbles{ 
    position:absolute; 
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }

  /* bubble position at start of the animation; border radius gives the round shape of the bubble */
  .bubble{ 
    position: absolute;
    bottom:-100px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius:50px; 
    /*opacity:0.5;*/
    animation: rise 7s infinite ease-in;
  } 
  
  /* decrease the height and flatten the circle*/
  .bubble:nth-child(1){
    width:160px;
    height:50px;
    left:10%;
    animation-duration:8s;
    box-shadow: 5px 5px rgb(146, 100, 146);
  }

  .bubble:nth-child(1):after, .bubble:nth-child(1):before {
    content: '';
    position: absolute;
  }

  /* first circle 1st child*/
  .bubble:nth-child(1):after {
	width: 80px; height: 80px;
	top: -30px; left: 65px;
	border-radius: 50px;
  background: white;
}

/* increase the top and it goes lower; decrease the left and it goes left*/
/* second circle */
.bubble:nth-child(1):before  {
	width: 50px; height: 50px;
	top: -15px; left: 25px;
	border-radius: 200px;
  background: white;
}

  .bubble:nth-child(2){
    width: 60px;
    height:25px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
    box-shadow: 2px 2px rgb(1, 2, 1);
  }

  .bubble:nth-child(2):after, .bubble:nth-child(2):before {
    content: '';
    position: absolute;
  }

  /* first circle 2nd child*/
  .bubble:nth-child(2):after {
    width: 15px; height: 15px;
    top: -8px; left: 12px;
    border-radius: 50px;
    background: white;
  }
  
  /* increase the top and it goes lower; decrease the left and it goes left*/
  /* second circle */
  .bubble:nth-child(2):before  {
    width: 30px; height: 30px;
    top: -10px; left: 23px;
    border-radius: 200px;
    background: white;
  }


  .bubble:nth-child(3){
    width: 150px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
    box-shadow: 5px 5px rgb(167, 152, 24);
  }

  .bubble:nth-child(3):after, .bubble:nth-child(3):before {
    content: '';
    position: absolute;
  }

  /* first circle 3rd child*/
  .bubble:nth-child(3):after {
    width: 45px; height: 45px;
    top: -20px; left: 25px;
    border-radius: 50px;
    background: white;
  }
  
  /* increase the top and it goes lower; decrease the left and it goes left*/
  /* second circle */
  .bubble:nth-child(3):before  {
    width: 70px; height: 70px;
    top: -30px; left: 60px;
    border-radius: 200px;
    background: white;
  }

  .bubble:nth-child(4){
    width:80px;
    height: 30px;
    left:50%;
    animation-duration:11s;
    animation: delay 4s;
    box-shadow: 3px 3px rgb(194, 72, 16);
  }

  .bubble:nth-child(4):after, .bubble:nth-child(4):before {
    content: '';
    position: absolute;
  }

  /* first circle 4th child*/
  .bubble:nth-child(4):after {
    width: 36px; height: 36px;
    top: -15px; left: 35px;
    border-radius: 50px;
    background: white;
  }
  
  /* increase the top and it goes lower; decrease the left and it goes left*/
  /* second circle */
  .bubble:nth-child(4):before  {
    width: 25px; height: 25px;
    top: -10px; left: 12px;
    border-radius: 200px;
    background: white;
  }

  .bubble:nth-child(5){
    width:105px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
    box-shadow: 5px 5px rgb(4, 3, 85)

  }

  .bubble:nth-child(5):after, .bubble:nth-child(5):before {
    content: '';
    position: absolute;
  }

  /* first circle 5th child*/
  .bubble:nth-child(5):after {
    width: 30px; height: 30px;
    top: -10px; left: 17px;
    border-radius: 50px;
    background: white;
  }
  
  /* increase the top and it goes lower; decrease the left and it goes left*/
  /* second circle */
  .bubble:nth-child(5):before  {
    width: 50px; height: 50px;
    top: -20px; left: 40px;
    border-radius: 200px;
    background: white;
  }

  .bubble:nth-child(6){
    width:135px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
    box-shadow: 5px 5px rgb(150, 5, 5);
  }

  .bubble:nth-child(6):after, .bubble:nth-child(6):before {
    content: '';
    position: absolute;
  }

  /* first circle 6th child*/
  .bubble:nth-child(6):after {
    width: 40px; height: 40px;
    top: -15px; left: 20px;
    border-radius: 50px;
    background: white;
  }
  
  /* increase the top and it goes lower; decrease the left and it goes left*/
  /* second circle */
  .bubble:nth-child(6):before  {
    width: 65px; height: 65px;
    top: -30px; left: 50px;
    border-radius: 200px;
    background: white;
  }

  .bubble:nth-child(7){
    width:180px;
    height:60px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
    box-shadow: 5px 5px rgb(150, 2, 170);
  }

  .bubble:nth-child(7):after, .bubble:nth-child(7):before {
    content: '';
    position: absolute;
  }

  /* first circle 7th child*/
  .bubble:nth-child(7):after {
    width: 60px; height: 60px;
    top: -25px; left: 30px;
    border-radius: 50px;
    background: white;
  }
  
  /* increase the top and it goes lower; decrease the left and it goes left*/
  /* second circle */
  .bubble:nth-child(7):before  {
    width: 90px; height: 90px;
    top: -35px; left: 65px;
    border-radius: 200px;
    background: white;
  }


  .bubble:nth-child(8){
    width:75px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
    box-shadow: 5px 5px rgb(3, 119, 84);
  }
  .bubble:nth-child(8):after, .bubble:nth-child(8):before {
    content: '';
    position: absolute;
  }

  /* first circle 8th child*/
  .bubble:nth-child(8):after {
    width: 20px; height: 20px;
    top: -7px; left: 15px;
    border-radius: 50px;
    background: white;
  }
  
  /* increase the top and it goes lower; decrease the left and it goes left*/
  /* second circle */
  .bubble:nth-child(8):before  {
    width: 35px; height: 35px;
    top: -12px; left: 30px;
    border-radius: 200px;
    background: white;
  }

  .bubble:nth-child(9){
    width:60px;
    height:25px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
    box-shadow: 3px 3px rgb(23, 91, 236);
  }
  .bubble:nth-child(9):after, .bubble:nth-child(9):before {
    content: '';
    position: absolute;
  }

  /* first circle 4th child*/
  .bubble:nth-child(9):after {
    width: 20px; height: 20px;
    top: -8px; left: 10px;
    border-radius: 50px;
    background: white;
  }
  
  /* increase the top and it goes lower; decrease the left and it goes left*/
  /* second circle */
  .bubble:nth-child(9):before  {
    width: 30px; height: 30px;
    top: -12px; left: 25px;
    border-radius: 200px;
    background: white;
  }

  .bubble:nth-child(10){
    width:170px;
    height:60px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
    box-shadow: 5px 5px rgb(15, 145, 134);
  }

  .bubble:nth-child(10):after, .bubble:nth-child(10):before {
    content: '';
    position: absolute;
  }

  /* first circle 10th child*/
  .bubble:nth-child(10):after {
    width: 50px; height: 50px;
    top: -20px; left: 25px;
    border-radius: 50px;
    background: white;
  }
  
  /* increase the top and it goes lower; decrease the left and it goes left*/
  /* second circle */
  .bubble:nth-child(10):before  {
    width: 90px; height: 90px;
    top: -40px; left: 60px;
    border-radius: 200px;
    background: white;
  }



  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }

  .radio1, .radio2{
    text-align: center;
    margin-left: 37%;

  }

  .fontfont{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  

